.navbarHeader {
  z-index: 999;
  display: flex;
  background-color: aquamarine;
  justify-content: space-around;
//   position: fixed;
}
.sideBar{
    background-color: rgba(198, 198, 190, 0.851);
    height: 100vh;;
}
