.continer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

    .date_information {
        text-align: center;

    }

    .ClockAnalog {
        margin: auto;
        width: 250px;
        padding: 10px;
    }

    .list_of_zmanim {
        background-color: rgb(220, 243, 252);
        padding: 20px;
        width: 350px;

        .list_item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(175, 175, 175);
            margin-top: 5px;

            .item_time {}

            .item_text {}
        }
    }
}